# -----------------------------------------------------------------------------
# Folders:
#

.settings/
.idea/
bin/
log/
logs/
target/

# -----------------------------------------------------------------------------
# Files:
#

*.iml
*.iws
*.jar
*.log
*.war
*_IS_UNDEFINED
*~
.DS_Store
.classpath
.factorypath
.project

# -----------------------------------------------------------------------------
# Project Specific:
#

*.csv
*.txt
