# -----------------------------------------------------------------------------
# Folders:
#

.settings/
.idea/
bin/
log/
logs/
target/

# -----------------------------------------------------------------------------
# Files:
#

*.jar
*.war
*.iml
*.iws
*~
.DS_Store
.classpath
.factorypath
.project

# -----------------------------------------------------------------------------
# Project Specific:
#
